body {
  /* background: #22282B; */
  background: #22282B !important;
  background-size: cover;
  font-family: 'Noto Sans JP', sans-serif !important;
  font-style: Regular 400;
}

.container{
  margin-bottom: 60px;
}